{% extends 'layout.html'%}
{% block body%}
  <select>
    <option>Hotels</option>
    {%for hotel in hotels%}
      <option value = "{{hotel.id}}">{{hotel.name}}</option>
      {%endfor%}
  </select>
   
   <select>
    <option>Restaurants</option>
    {%for restaurant in restaurants%}
      <option value="{{restaurant.id}}">{{restaurant.name}}</option>
      {%endfor%}
  </select>

  <select>
    <option>Activities</option>
    {%for activity in activities%}
      <option value="{{activity.id}}">{{activity.name}}</option>
      {%endfor%}
  </select>

<!--   {%for hotel in hotels%}
	 <h1>{{hotel.name}}</h1>
   {%endfor%}
    {%for restaurant in restaurants%}
   <h1>{{restaurant.name}}</h1>
   {%endfor%}
    {%for activity in activities%}
   <h1>{{activity.name}}</h1>
   {%endfor%} -->
{% endblock %}